<!doctype html>
<html lang="en">

<head>
    <title>Simple Navbar</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link rel="stylesheet" href="/css/required/bootstrap.css">
    <link rel="stylesheet" href="/css/required/bootstrap-custom.css">
    <link rel="stylesheet" href="/css/required/style.css">

    <!-- Bootstrap Icons CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
</head>

<body>
    <!doctype html>
    <html lang="en">

    <head>
        <title>Simple Navbar</title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <link rel="stylesheet" href="/css/bootstrap.css">
        <link rel="stylesheet" href="/css/bootstrap-custom.css">
        <link rel="stylesheet" href="/css/style.css">

        <!-- Bootstrap Icons CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    </head>

    <body class="container d-flex flex-row justify-content-center align-items-center vh-100">
        <div class="card m-2">
            <div class="card-body">
                <p class="card-title text-center text-primary">Premium Plan</p>
                <div class="card-subtitle text-center d-flex flex-row justify-content-center align-items-center">
                    <div><span style="font-size: 3.5rem; font-weight: bold;">$29</span></div>
                    <div class="d-flex flex-column align-items-start" style="margin-left: 5px;">
                        <span style="font-size: 1rem;">.99</span>
                        <span style="font-size: 0.8rem;">/month</span>
                    </div>
                </div>
                <div class="d-flex flex-column align-items-center mb-3" style="margin-left: 10px;">
                    <span class="text-muted text-decoration-line-through" style="font-size: 1rem;">$149.99</span>
                    <span class="badge rounded-pill text-danger border border-danger" style="font-size: 0.9rem;">disc.
                        80%</span>
                </div>
                <p class="card-text text-center">Get access to all premium features.</p>
                <hr>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item border-0"><i class="bi bi-check-circle-fill text-success"></i> Unlimited
                        Access</li>
                    <li class="list-group-item border-0"><i class="bi bi-check-circle-fill text-success"></i> Priority
                        Support</li>
                    <li class="list-group-item border-0"><i class="bi bi-x-circle-fill text-danger"></i> Free Trial</li>
                </ul>
                <div class="d-grid mt-3">
                    <button class="btn btn-primary rounded-pill" type="button">Subscribe Now</button>
                </div>
            </div>
        </div>

        <div class="card m-2">
            <div class="card-body">
                <p class="card-title text-primary">Premium Plan</p>
                <p class="card-text">Get access to all premium features.</p>
                <div class="card-subtitle d-flex flex-column">
                    <div><span style="font-size: 2rem; font-weight: bold;">$29</span></div>
                    <span style="font-size: 1rem;">.99 /month</span>
                </div>
                <ul class="d-flex flex-column align-items-start"></ul>
                <li class="list-group-item border-0 py-1"><i class="bi bi-check-circle-fill text-success"></i> Unlimited
                    Access</li>
                <li class="list-group-item border-0 py-1"><i class="bi bi-check-circle-fill text-success"></i> Priority
                    Support</li>
                <li class="list-group-item border-0 py-1"><i class="bi bi-x-circle-fill text-danger"></i> Free Trial
                </li>
                </ul>
                <div class="d-grid mt-3">
                    <button class="btn btn-outline-primary rounded-pill" type="button">Subscribe Now</button>
                </div>
            </div>
        </div>
    </body>

    </html>